html body {

    background-color: darkgray;
    
}


b {
    text-shadow: 1px 1px #FF0000;
    color: yellow;
}

.jos {

    padding-left: 150px;

}
.card-text {

    font-weight: bolder;
    text-shadow: 1px 1px grey;
}

.jef {

    margin-left: 30px;
}

.john {

    margin-top: 10px;
    margin-bottom: 0%;
}

.list-group {
    text-shadow: 1px 1px grey;
    color: red;
    font-weight: bolder;
    padding-bottom: 0%;
}
  
.container{
    margin-top: 60px;
    justify-content: center;
    display: grid;
    position: relative;
    
}

.hans {


    margin-top: 10px;
    margin-bottom: 10px;
}

#contact-form{

    margin: 60px 10px 0px 10px;
  }  
